.body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 90vh;
}

.title {
  font-family: 'Michroma', sans-serif;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 1px;
}

.description {
  font-family: 'Michroma', sans-serif;
  font-size: 1.2rem;
  color: #ccc;
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-family: 'Michroma', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.card:hover {
  background-color: #555;
  transform: scale(1.05);
  transition: background-color ease-in-out 0.2s, transform ease-in-out 0.2s;
}

.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Michroma', sans-serif;
  font-size: 0.8rem;
}