.body {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 90vh;
}

.title {
  font-family: 'Michroma', sans-serif;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 1px;
}

.description {
  font-family: 'Michroma', sans-serif;
  font-size: 1.2rem;
  color: #ccc;
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-family: 'Michroma', sans-serif;
}

.inputError {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-family: 'Michroma', sans-serif;
  border-color: #ff0000;
}

.input:focus {
  outline: none;
  border: 1px solid #fff;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  width: 10vw;
  height: 5vh;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: 'Michroma', sans-serif;
  cursor: pointer;
}

.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: #ff0000;
  font-weight: bold;
  font-size: larger;
}